@keyframes scrollText {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.scroll-marquee {
  position: relative;
  overflow: hidden;
}

.scroll-marquee-wrapper {
  display: flex;
  animation: scrollText 15s linear infinite;
}

.scroll-marquee span {
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%; /* Optional, to add some space between the words */
}
